@font-face {
  font-family: corbert-wide;
  src: url(../neou/CorbertWide-Regular.ttf);
}

div {
  font-family: corbert-wide;
}

body,
html {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: #eff0f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 25%;
  max-width: 300px;
  margin-top: 8%;
}

.footnote {
  color: #000;
  font-size: 1.05rem;
  font-family: corbert-wide;
  text-transform: uppercase;
}

.text {
  color: #000;
  margin: 20px;
  font-size: 32px;
  font-family: corbert-wide;
  text-transform: uppercase;
}

ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 0%;
  margin: 20px;
}

li {
  height: 80%;
  margin: 15px;
  transition: all 0.2s ease-in-out;
}

img {
  fill: #000;
}

li:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
